<header id="header">
    <div class="header-content-container">
        <div class="icon-container">
            <a href="{{ site.baseurl }}/">
                <img class="icon" src="{{ '/assets/images/logo.png' | relative_url }}" alt="CSG Logo"/>
            </a>
        </div>
        <div class="title-container">
            <a href="{{ site.baseurl }}/">
                近畿大学電子計算機研究会
            </a>
        </div>
        <div class="sp-menu">
            <a class="menu-trigger" href="#" onclick="changeMobileGlobalNavState();return;">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <nav class="g-nav-container pcOnly">
            <ul class="g-nav">
                <li class="g-nav__item"><a href="{{ site.baseurl }}/about">ABOUT</a></li>
                <li class="g-nav__item"><a href="{{ site.baseurl }}/join">新入生向け</a></li>
<!--                <li class="g-nav__item"><a href="{{ site.baseurl }}/events">活動紹介</a></li>-->
<!--                <li class="g-nav__item"><a href="{{ site.baseurl }}/works">制作物</a></li>-->
            </ul>
        </nav>
        <nav class="g-nav-container mobileOnly">
            <ul class="g-nav">
                <li class="g-nav__item"><a href="{{ site.baseurl }}/about">ABOUT</a></li>
                <li class="g-nav__item"><a href="{{ site.baseurl }}/join">新入生向け</a></li>
<!--                <li class="g-nav__item"><a href="{{ site.baseurl }}/events">活動紹介</a></li>-->
<!--                <li class="g-nav__item"><a href="{{ site.baseurl }}/works">制作物</a></li>-->
            </ul>
        </nav>
    </div>
</header>